.body-container{
    margin: 0 100px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.header{
    background-color:  rgb(102, 102, 185);
}
.main-container{
    background-color: rgb(153, 153, 241);
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    
}
header :last-child{
    /* margin-right: 10px; */
}

/* .wrapOfMainInformation{
    width: 1000px;
    height: 330px;
    margin: 0 auto;
} */
.sstack{
    background: rgb(183, 183, 245);
}
.stackItem{
    float: left; /*Задаем обтекание*/ 
    line-height: 20px;/*Высота строки + верт центрирования текста*/ 
    font-size: 16px; 
    background: rgb(212, 225, 237); 
    color: rgb(0, 0, 0); 
    width: 50px; /*Фиксируем ширину блока*/ 
    margin-right: 180px; 

    text-align: center; /*Центрируем текст по горизонтали*/
}


.centredHeading{
    text-align: center;
    font: 900 32px "Roboto", sans-serif;
    color: #000000;
    text-shadow: 0px 0px 0 rgba(0, 0, 0, 0.2);
}
.avatar{
    height: 250px;
    border: 10px solid #2b163f;
}

.flex-container {
    /* border: 10px solid #7f00ff; */
  }
.flex-item {
    padding: 10px;
    font: 900 24px "Roboto", sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: 4px 2px 0 rgba(0, 0, 0, 0.2);
    flex: 1;
}

.flex-container {
    display: flex;
    flex-direction: row;
    min-height: 40vh;
}
  
 .Stack{
    min-height: 10px;
 }
  
  @media screen and (max-width: 650px) {
    .flex-container {
      flex-direction: column;
    }
  }
.text{
    color: #000000;
    font: 900 20px "Roboto", sans-serif;
    text-align: justify;
    text-shadow: 0px 0px 0 rgba(0, 0, 0, 0.2);
}
.lang{
    color: #545454;
}